<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <!-- <link rel="stylesheet" href="/static/static/video-js.css"> -->
    <link href="https://vjs.zencdn.net/7.8.2/video-js.css" rel="stylesheet" />
    <title>Mixfree.ly</title>
</head>

<body>
    <div class="w3-container">
        <h1 class="banner">Kicked off Twitch? That's Rick-diculous!</h1>
        <h2> 
		    <a href="/channel1">Channel 1</a>
	    </h2>
        <h4>In order to view the stream you will either need to use safari or add the native HLS playback extension for
            <a href="https://addons.mozilla.org/en-US/firefox/addon/native_hls_playback/">Firefox</a> or 
            <a href="https://chrome.google.com/webstore/detail/native-hls-playback/emnphkkblegpebimobpbekeedfgemhof?hl=en-US">Chrome.</a> If you can't see chat, try disabling your ad-blocker. 
        </h4>
        <div class="row">
            <div class="main">
                <video class="video-js vjs-default-skin" autoplay preload="auto" controls id="video1">
                    <source src="https://live.thatsrickdiculous.com/hls2/KRRIFZ.m3u8" type="application/x-mpegURL" />
                </video>
            </div>
            <div class="menu">
                <iframe frameborder="1" scrolling="yes" id="spracto" src="https://twitch.tv/embed/spracto/chat?parent=thatsrickdiculous.com" height="500" width="350">
                </iframe>
            </div>
        </div>
    </div>
    <script src="https://vjs.zencdn.net/7.8.2/video.js"></script>
    <script>
        videojs(document.querySelector('#video1', {
        reponsive: true
        }));
    </script>
</body>

</html>

<style>
    .w3-container {
        margin-bottom: 10%;
    }
    .container {
         
    }

    body {
	margin-bottom: 100px;
	background-image: linear-gradient(to bottom right, #11998e, #38ef7d);
    }

    .banner {
      text-align: center;
    }
    
    .menu {
        width: 20%;
        float: left;
	    padding-left: 1%;
    }
    .main {
        width: auto;
        float: left;
    }  
</style>
