<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link href="https://vjs.zencdn.net/7.8.2/video-js.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="/static/static/video-js.css"> -->

    <title>Hello, world!</title>
</head>

<body>
    <div class="w3-container">
        <h1 class="banner">Kicked off Twitch? That's Rick-diculous!</h1>
        <h2></h2>
        <h4>In order to view the stream you will either need to use safari or add the native HLS playback extension for
            <a href="https://addons.mozilla.org/en-US/firefox/addon/native_hls_playback/">Firefox</a> or <a
                href="https://chrome.google.com/webstore/detail/native-hls-playback/emnphkkblegpebimobpbekeedfgemhof?hl=en-US">Chrome.</a>
        </h4>

        <iframe frameborder="1" scrolling="yes" id="music_user"
            src="https://twitch.tv/embed/music_user/chat?parent=thatsrickdiculous.com" height="500" width="350">
        </iframe>
        <video class="video-js vjs-default-skin" controls id="joe">
            <source src="http://10.168.0.2:8080/hls/test.m3u8" type="application/x-mpegURL" />
        </video>
        <video class="video-js vjs-default-skin" controls id="barc">
            <source src="https://10.168.0.2:8080/hls/barclay.m3u8" type="application/x-mpegURL" />
            </p>
        </video>
    </div>
    <!-- <script src="static/video.js"></script> -->
    <script src="https://vjs.zencdn.net/7.8.2/video.js"></script>
    {{/* <script>videojs(document.querySelector('#barc'));</script> */}}
    {{/* <script>videojs(document.querySelector('#joe'));</script> */}}
    <!-- <script src="videojs-contrib-hls.min.js"></script> -->

</body>

</html>

<style>
    .container {
         
    }

    body {
        background-image: linear-gradient(to bottom right, #11998e, #38ef7d);
    }

    .banner {
      text-align: center;
    }
</style>